@media screen and (max-width:768px) {
    .content {
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-panel {
        display: none;
    }
    .header button, .header a {
        width: 98px;
        font-size: 15px;
        padding: 0px;
        margin: 0;
    }
}

@media screen and (max-width:375px) {
    .content {
        margin-left: 0px;
        margin-right: 0px;
    }
}