nav a, .toggler {
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 500;
   color: ivory;
}

nav a:hover {
   color: #9AD28B;
}

nav button, .toggler, .toggler:active, .toggler:focus {
   min-width: 10vw;
   margin-left: 2vw;
   margin-right: 2vw;
   background: none;
   border: none;
   box-shadow: none;
   outline: none;
}

h2 {
   font-weight: 500;
   font-size: 10rem;
   color: #221E21;
}

span {
   color: ivory;
}

p {
   margin: 10px;
}

.welcome {
   background: #FCE373;
   padding-bottom: 1vh;
}

.content {
   margin-top: 2vh;
   margin-left: 2vw;
   margin-right: 2vw;
   color: #221E21;
   background: #A385BD;
   padding: 10px;
}

.nav-collapse, .dropdown-item {
   text-align: center;
   background: #221E21;
   color: ivory;
}

.d-block {
   height: 120px;
}

.div-hr {
   background: #221E21;
   box-shadow: #221E21 5px 5px 5px;
}

.toggler {
   font-weight: 600;
}

.title, .welcome {
   text-align: center;
}

.new-project {
   background: rosybrown;
   width: 30vw;
   height: auto;
   display: inline-block;
   margin: 5px;
   padding: 5px;
}

.new-project img {
   height: auto;
   width: 90%;
   margin-left: 5%;
   margin-right: 5%;
}

@media screen and (max-width: 900px) {
   .carousel {
       display: none;
   }
}

@media screen and (max-width: 1050px) {
   h2 {
       font-size: 6rem;
   }
}

@media screen and (max-width: 800px) {
   h2 {
       font-size: 5rem;
   }
   p {
      font-size: 16px;
   }
   .np3 {
      display: none;
   }
   h1, h6 {
      font-size: 40px;
   }
   .new-project {
      width: 50%;
   }
}

@media screen and (max-width: 600px) {
   h2 {
       font-size: 4rem;
   }
}

@media screen and (max-width: 450px) {
   h2 {
       font-size: 3rem;
   }
}

@media screen and (max-width: 350px) {
   h2 {
       font-size: 2rem;
   }
}